<!-- app/views/map_squares/show.html.erb -->
<p>Longitude: <%= @square.lng %></p>
<p>Latitude: <%= @square.lat %></p>
<p>Three words: <%= @covered_words%></p>
<% if @square.image_url.present? %>
  <%= image_tag @square.image_url, alt: "…", width: "200", height: "200", loading: "lazy" %>
<% end %>

<%= form_tag do %>
  <%= text_field_tag :words, nil, class: 'custom-text-field' %>
  <%= submit_tag 'Submit', id: 'submit-button' %>
<% end %>

<p><%= @message %></p>


<% if flash.now[:alert] %>
  <div class="alert alert-danger">
    <%= flash.now[:alert] %>
  </div>
<% elsif flash.now[:success] %>
  <div class="alert alert-success">
    <%= flash.now[:success] %>
  </div>
<% end %>

<script>
  $(document).on('ready turbolinks:load', function () {
    $('#submit-button').on('click', function (e) {
      e.preventDefault();

      var formData = {
        word1: $('#words').val()

      };

      $.ajax({
        type: 'POST',
        url: '<%= squares_words_logic_path(@square) %>',
        data: formData,
        success: function(data) {
          // Update the image on the page
          $('#image-display').attr('src', data.image_path);
        },
        error: function() {
          alert('Error updating image.');
        }
      });
    });
  });
</script>

<style>
  .custom-text-field {
    background-color: black !important;
    color: white !important;
    border: none !important;
    padding: 5px !important;
  }
</style>