<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css.scss" />
  </head>
  <body>
    <div class="macbook-pro">
      <div class="frame-wrapper">
        <div class="frame">
          <div class="overlap-group-wrapper">
            <div class="overlap-group">
              <div class="rectangle"></div>
              <div class="terrain-terminator">TERRAIN TERMINATOR</div>
              
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="div"> 
                <%= f.label :email, class: "label" %>
                
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rectangle-2"%>

              <%= f.label :password, class: "label"%>
                    <%= f.password_field :password, autocomplete: "new-password" , class: "rectangle-2"%>

                
              

                <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

               <div class="sign-up-container">
                    <%= f.submit "Login", class:"sign-up" %>
               </div>
              <%= render "devise/shared/links" %> 

              <p class="error-messages">
                <%= render "devise/shared/error_messages", resource: resource %>
               </p>
              <% end %>
                
              </div>
              
               
              <%= image_tag "terrain-terminator-logos-white-1-1.png", class:"img"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
